.info {
    border: solid 1px silver;
}
div.info-top {
    position: relative;
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom: 1px solid #CCC;
    border-radius: 5px 5px 0 0;
}
div.info-top div {
    display: inline-block;
    color: #333333;
    font-size: 14px;
    font-weight: bold;
    line-height: 31px;
    padding: 0 10px;
}
div.info-top img {
    position: absolute;
    top: 10px;
    right: 10px;
    transition-duration: 0.25s;
}
div.info-top img:hover {
    box-shadow: 0px 0px 5px #000;
}
div.info-middle {
    font-size: 12px;
    padding: 6px;
    line-height: 20px;
}
div.info-bottom {
    height: 0px;
    width: 100%;
    clear: both;
    text-align: center;
}
div.info-bottom img {
    position: relative;
    z-index: 104;
}
span {
    margin-left: 5px;
    font-size: 11px;
}
.info-middle img {
    float: left;
    margin-right: 6px;
}

#tip {
    margin-top: 50px;
}
body { margin: 0; font: 13px/1.5 "Microsoft YaHei", "Helvetica Neue", "Sans-Serif"; min-height: 960px; min-width: 600px; }
.vendor-area { margin: 0 auto; width: 600px; height: 600px; }
.vendor-area .icon { background: url(http://lbs.amap.com/console/public/show/marker.png) no-repeat; }
.vendor-area .icon-cir { height: 31px; width: 28px; }
.vendor-area .icon-cir-red { background-position: -11px -5px; }
.vendor-area .icon-cir-blue { background-position: -11px -55px; }
/*.vendor-area .amap-container { margin-left: 40px; width: 600px; height: 600px; }*/